/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}








/*
.col { padding: 0px !important}
.col .row { margin: 1rem !important}
.section { padding-left: 1rem}
.headerRow {margin: 0 !important;}
.pushpin-demo-nav {height: 100% !important} */

.top-nav{color:red;height:160px;-webkit-box-shadow:none;box-shadow:none;border-bottom:1px solid rgba(0,0,0,0.14);background-color:transparent;}
.sidenav li > a {padding-left: 16px;}
.card-image {min-height: 220px; max-height: 220px;!important}
.card {min-height: 400px; !important}
